torch
torchvision
torchaudio
opencv-contrib-python
numpy
pillow
edge-tts
pygame
timm
ultralytics
face_recognition
SpeechRecognition
pyaudio
sounddevice
scipy
speechbrain
twilio
easyocr
openwakeword
transformers
